{% extends "common/base.html" %}
{% load staticfiles %}
{% block title %}首页标题{% endblock %}
{% block keywords %}首页关键词{% endblock %}
{% block description %}首页描述{% endblock %}
{% block header %}
    <header class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="64">
{% endblock %}
{% block container %}
    <div class="v5-banner-big">
        <div class="container">
            <div class="carousel-container">
                <div id="carousel">
                    {% for ad in ads %}
                        <div class="carousel-feature">
                            <a href="{{ ad.callback_url }}">
                                <img class="carousel-image" alt="{{ ad.title }}"
                                     src="{{ media_url }}{{ ad.image_url }}"></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="v5-index-main">
        <div class="v5-titline"></div>
        <div class="container">
            <div class="v5-recommend">
                <div class="v5-tabs-box" id="v5-tabs">
                    <ul class="v5-tabs" id="v5-tabs" role="tablist">
                        <li class="active"><a href="#new" class="is-active" role="tab" data-toggle="tab">最新课程</a></li>
                        <li><a href="#most" role="tab" data-toggle="tab">最多播放</a></li>
                        <li><a href="#hot" role="tab" data-toggle="tab">最具人气</a></li>
                    </ul>
                    <div class="tabs-container tab-content">
                        <div class="v5-course-item tab-pane fade in active" id="new" data-holder="holdernew">
                            <div class="page-item">
                                <ul class="row course-list-index">
                                    {% for course in course_lastest %}
                                        <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                            <a href="">
                                                <dl>
                                                    <dt>
                                                    <div><img src="{{ media_url }}{{ course.image }}"></div>
                                                    </dt>
                                                    <dd>
                                                        <span>{{ course.name }}</span>

                                                        <p>{{ course.student_count }}人正在学习</p>
                                                    </dd>
                                                </dl>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="page-bg-w">
                                <div class="row v5-pages">
                                    <div class="col-sm-12 v5-pages-list">
                                        <ul class="row fr">
                                            {% if course_lastest.has_previous %}
                                                <li><a href="?pgl={{ course_lastest.previous_page_number }}"
                                                       class="v5-icon v5-icon-prev"></a></li>
                                            {% endif %}

                                            {% for p in paginator_lastest %}
                                                {% ifequal p course_lastest.number %}
                                                    <li><a href="?pgl={{ p }}" class="page-num active">{{ p }}</a></li>
                                                {% else %}
                                                    <li><a href="?pgl={{ p }}" class="page-num">{{ p }}</a></li>
                                                {% endifequal %}
                                            {% endfor %}

                                            {% if course_lastest.has_next %}
                                                <li><a href="?pgl={{ course_lastest.next_page_number }}"
                                                       class="v5-icon v5-icon-next"></a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="v5-course-item tab-pane fade" id="most" data-holder="holdermost">
                            <div class="page-item">
                                <ul class="row course-list-index">
                                    {% for course in course_most_play %}
                                        <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                            <a href="">
                                                <dl>
                                                    <dt>
                                                    <div><img src="{{ media_url }}{{ course.course__image }}"></div>
                                                    </dt>
                                                    <dd>
                                                        <span>{{ course.course__name }}</span>

                                                        <p>{{ course.course__student_count }}人正在学习</p>
                                                    </dd>
                                                </dl>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="page-bg-w">
                                <div class="row v5-pages">
                                    <div class="col-sm-12 v5-pages-list">
                                        <ul class="row fr">
                                            {% if course_most_play.has_previous %}
                                                <li><a href="?pgm={{ course_most_play.previous_page_number }}"
                                                       class="v5-icon v5-icon-prev"></a></li>
                                            {% endif %}

                                            {% for p in paginator_most_play %}
                                                {% ifequal p course_most_play.number %}
                                                    <li><a href="?pgm={{ p }}" class="page-num active">{{ p }}</a></li>
                                                {% else %}
                                                    <li><a href="?pgm={{ p }}" class="page-num">{{ p }}</a></li>
                                                {% endifequal %}
                                            {% endfor %}

                                            {% if course_most_play.has_next %}
                                                <li><a href="?pgm={{ course_most_play.next_page_number }}"
                                                       class="v5-icon v5-icon-next"></a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="v5-course-item tab-pane fade" id="hot" data-holder="holderhot">
                            <div class="page-item">
                                <ul class="row course-list-index">
                                    {% for course in course_hot %}
                                        <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                            <a href="">
                                                <dl>
                                                    <dt>
                                                    <div><img src="{{ media_url }}{{ course.image }}"></div>
                                                    </dt>
                                                    <dd>
                                                        <span>{{ course.name }}</span>

                                                        <p>{{ course.student_count }}人正在学习</p>
                                                    </dd>
                                                </dl>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="page-bg-w">
                                <div class="row v5-pages">
                                    <div class="col-sm-12 v5-pages-list">
                                        <ul class="row fr">
                                            {% if course_hot.has_previous %}
                                                <li><a href="?pgh={{ course_hot.previous_page_number }}"
                                                       class="v5-icon v5-icon-prev"></a></li>
                                            {% endif %}

                                            {% for p in paginator_hot %}
                                                {% ifequal p course_hot.number %}
                                                    <li><a href="?pgh={{ p }}" class="page-num active">{{ p }}</a></li>
                                                {% else %}
                                                    <li><a href="?pgh={{ p }}" class="page-num">{{ p }}</a></li>
                                                {% endifequal %}
                                            {% endfor %}

                                            {% if course_hot.has_next %}
                                                <li><a href="?pgh={{ course_hot.next_page_number }}"
                                                       class="v5-icon v5-icon-next"></a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="v5-titline">
            <div class="container">
                <h1>名师风采</h1>
            </div>
        </div>
        <div class="container">
            <div class="tc-list">
                <a id="prev" class="prev" href="#"></a>

                <div class="tc-list-w">
                    <ul id="foo" class="cf">
                        {% for t in teachers %}
                            <li>
                                <dl>
                                    <dt><a href="" style="border-left-color:#00A388;"><img
                                            src="{% static 'test/2.png' %}"></a>
                                    </dt>
                                    <dd>
                                        <h2>{{ t.last_name }}{{ t.first_name }}</h2>

                                        <h3>{{ t.description }}</h3>
                                    </dd>
                                </dl>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <a id="next" class="next" href="#"></a>
            </div>
        </div>
        <div class="v5-titline">
            <div class="container">
                <h1>推荐阅读</h1>
            </div>
        </div>
        <div class="container">
            <div class="v5-read cf">
                <div class="v5-read-item">
                    <div class="v5-read-list" style="background-color:#00A388;">
                        <h1>官方活动</h1>
                        <ul>
                            {% for arc in recommend_av %}
                                <li><a href="{{ arc.url }}" title="{{ arc.title }}">{{ arc.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <p><img src="{% static 'test/3.jpg' %}"></p>
                </div>
                <div class="v5-read-item v5-read-item-mid">
                    <p><img src="{% static 'test/4.jpg' %}"></p>

                    <div class="v5-read-list" style="background-color:#FF6138;">
                        <h1>开发者咨询</h1>
                        <ul>
                            {% for arc in recommend_nw %}
                                <li><a href="{{ arc.url }}" title="{{ arc.title }}">{{ arc.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="v5-read-item">
                    <div class="v5-read-list" style="background-color:#00A388;">
                        <h1>技术交流</h1>
                        <ul>
                            {% for arc in recommend_dc %}
                                <li><a href="{{ arc.url }}" title="{{ arc.title }}">{{ arc.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <p><img src="{% static 'test/5.jpg' %}"></p>
                </div>
            </div>
        </div>
        <div class="v5-titline">
            <div class="container">
                <h1>战略合作</h1>
            </div>
        </div>
        <div class="container">
            <div class="v5-strategic">
                <ul class="cf">
                    <li>
                        <a href=""><img src="{% static 'test/6.png' %}"></a>
                    </li>
                    <li>
                        <a href=""><img src="{% static 'test/7.png' %}"></a>
                    </li>
                    <li>
                        <a href=""><img src="{% static 'test/9.png' %}"></a>
                    </li>
                    <li>
                        <a href=""><img src="{% static 'test/10.png' %}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <div class="v5-footer">
        <div class="container">
            <div class="v5-footer-container">
                <div class="v5-footer-links cf">
                    <dl class="f-link">
                        <dt>友情链接</dt>
                        <dd>
                            <ul>
                                <li class="cf">
                                    {% for lk in links %}
                                        <a href="{{ lk.callback_url }}" target="_blank">{{ lk.title }}</a><span>|</span>
                                    {% endfor %}
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="follow">
                        <dt>关注我们</dt>
                        <dd>
                            <ul>
                                <li><a href=""><span class="sina"></span>新浪微博</a></li>
                                <li><a href=""><span class="weixin"></span>官方微信</a></li>
                                <li><a href=""><span class="qq"></span>腾讯微博</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="webmap">
                        <dt>网站导航</dt>
                        <dd>
                            <ul>
                                <li><a href="">网站首页</a></li>
                                <li><a href="">关于我们</a></li>
                                <li><a href="">联系我们</a></li>
                                <li><a href="">意见反馈</a></li>
                            </ul>
                        </dd>
                    </dl>
                </div>
                <div class="v5-footer-bottom">
                    <p>© 2012-2014 maiziedu.com | 服务条款 | 蜀ICP备13014270号-4 Version 4.0.1 release20140721.1</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_script %}
    <script type="application/javascript">
        function get_lastest_course() {
            var course_list = $("#new .course-list-index");
            course_list.empty();
            $.ajax({
                url: '{% url "common:get_course_by_post" %}',
                type: 'POST',
                data: {
                    'course_by':'date_publish',
                    'page':'',
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                dataType: "json",
                error: function (xhr) {
                },
                success: function (response) {
                    $.each(response, function (index, data) {
                        hotkeyword.append('<li><a href="">' + data.name + '</a></li>');
                    });
                }
            });
        }
    </script>
{% endblock %}